pipeline/appendvariable.json
{
	"name": "appendvariable",
	"properties": {
		"description": "variable changes ",
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v1",
					"value": "66"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v2",
					"value": {
						"value": "@length(variables('v1'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v2",
					"value": {
						"value": "@length(variables('v1'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p1": {
				"type": "array",
				"defaultValue": [
					1,
					11,
					111
				]
			}
		},
		"variables": {
			"v1": {
				"type": "Array",
				"defaultValue": [
					1,
					11,
					111,
					1111
				]
			},
			"v2": {
				"type": "Integer",
				"defaultValue": 44
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-06T12:51:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}